form {
    box-sizing: border-box;
    min-width: 300px;
    width: 50%;
    max-width: 600px;

    position: relative;
    background: transparent;
    border-radius: 5px;

    display: flex;
        flex-direction: column;
        gap: 10px;

    padding: 2em 3em;
}

::slotted(input[type="submit"]) {
    background-color: #CCC;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    transition: background-color, color, 200ms;
}

::slotted(input:hover) {
    background-color: #DDD;
}

::slotted(input:focus) {
    background-color: #FFF;
    border-color: #333;
}